<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ac.lz233.tarnhelm">

    <application
        android:name=".App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tarnhelm">
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.rules.RulesActivity"
            android:theme="@style/Theme.Tarnhelm.FuckToolbar"
            android:exported="false" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.process.ProcessEditTextActivity"
            android:exported="true"
            android:theme="@style/Theme.Tarnhelm.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.process.ProcessShareActivity"
            android:exported="true"
            android:theme="@style/Theme.Tarnhelm.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.ModuleDataBridgeService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.ac.lz233.tarnhelm.bridge" />
            </intent-filter>
        </service>


        <meta-data
            android:name="xposeddescription"
            android:value="Description" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
    </application>

</manifest>